<form action="{{ cart_url }}" method="post" cart-form>
  <input type="hidden" name="_method" value="put">
  <input type="hidden" name="make_order" value="">

  {% for item in cart.items %}
    <div class="" cart-item-id="{{ item.id }}">
      {{ item.id }}

      <input type="text" name="cart[quantity][{{ item.id }}]" value="{{ item.quantity }}">

      <span cart-item-delete="{{ item.id }}">X</span>
    </div>
  {% endfor %}

  <div>
    <label> Купон </label>
    <input type="text" name="cart[coupon]" value="{{ cart.coupon }}" />
    <input type="button" value="Применить" cart-coupon-submit/>
  </div>

  <input type="submit" value="Оформить"> <button cart-form-clear>Очистить</button> <button cart-form-update>Обновить</button>
</form>