<div class="row-flex">

<div class="flex-xl-6">

  <h2>products</h2>
  {% for product in collections.all.products limit: 10 %}
    <div class="">
      <button compare-item-add="{{ product.id }}">+</button>
      <button compare-item-delete="{{ product.id }}">-</button>
      {{ product.id }} ->
      {% for variant in product.variants %}
        {{ variant.id }} ||
      {% endfor %}

    </div>
  {% endfor %}

  ==================<br />
  {% for product in collections.all.products limit: 10 %}
    <a class="super-title" href="{{ product.url }}">====== {{ product.title }} ========</a>
    <form action="{{ cart_url }}" method="post" data-collection-variant data-product-id="{{ product.id }}">
    {% if product.show_variants? %}

    <select name="variant_id" data-product-variants>
      {% for variant in product.variants %}
        <option value="{{ variant.id }}">{{ variant.title | escape }}</option>
      {% endfor %}
    </select>
  {% else %}
  <input type="hidden" name="variant_id" value="{{product.variants.first.id}}" >
    {% endif %}
    <input class="input-field" type="number" name="quantity" value="1" />


  <button type="" cart-item-add class="btn">
    Добавь одну
  </button>
</form>
  {% endfor %}
<br>
  <button class="btn" data-cart-remove>Очистить корзину</button>

  <h2>delivery_id</h2>
  {% for delivery in account.delivery_variants %}
  {{ delivery.id }}
  {% endfor %}

  <h2>payment_id</h2>
  {% for payment in account.payment_gateways %}
  {{ payment.id }}
  {% endfor %}
</div>

<div class="flex-xl-6">
  cart
  <pre class="cart-widget js-cart"></pre>
</div>
</div>

<script type="text/javascript">
$(function(){
  var selectorArray = [];
  var selectorCollection = {};
  var selectorCount = $('[data-product-variants]').length - 1;

  $('[data-product-variants]').each(function(index, el) {
     var thisParents = $(el).parents('form:first');
     var thatProductId = thisParents.data('product-id');
     selectorArray.push(thatProductId);

     if (index === selectorCount) {
      initSelector(selectorArray);
     }
  });

  function initSelector(_selectorArray) {
    ISnew.json.getProductsList(_selectorArray)
      .done(function (_newSelectors) {
        $.each(_newSelectors, function(index, _new_product) {
           selectorCollection[_new_product.id] = new ISnew.Product( _new_product );
        });
      })
      .fail(function (response) {
        console.log('что-то пошло не так!! ', response);
      });
  }


  $('[data-cart-remove]').click(function(event) {
    var orderNow = Cart.getOrder();
    var variantTask = [];
    var orderLineCount = orderNow.order_lines.length - 1;

    $.each(orderNow.order_lines, function(index, _order_line) {
       variantTask.push( _order_line.variant_id )
       if (orderLineCount === index ) {
        Cart.clear( variantTask );
       }
    });
  });
});
</script>