<!DOCTYPE html>
<html >

<head>
  <title>{{ title }}</title>
  <meta name="robots" content="index,follow" />

  <script type="text/javascript" src="{{ 'lodash.js' | asset_url }}"></script>
  <script type="text/javascript" src="{{ 'new_common.js' | asset_url }}"></script>
</head>

<body class="adaptive">
  {{ content_for_layout }}
  <script type="text/javascript" src="{{ 'tests.js' | asset_url }}"></script>
  <script type="text/javascript">
    var Template = new ISnew.Template();
    var cv_currency_format = '{{ money_with_currency_format }}';
    var money = new ISnew.Money();
    money.set(cv_currency_format);
  </script>

  <script type="text/template" data-template-id="cart_widget">
    <% if (user) { %>
      hello!! <%- user %>!
    <% } %>
  </script>

  <script type="text/javascript">
    $(function () {
      product = new ISnew.Product({{ product | json }});
    });
  </script>

  <script type="text/template" data-template-id="option-select">
    <div>
      <label><%= option.title %></label>
      <select
        data-option-selector
        data-option-select
        data-option_name_id="<%= option.id %>"
      >
        <% _.forEach(values, function (value){ %>
          <option
            data-selctor-variant="<%= value.id %>"
            data-value-position="<%= value.position %>"
            value="<%= value.position %>"
            <% if (option.selected == value.position) { %>selected<% } %>
          >
            <%= value.title %>
          </option>
        <% }) %>
      </select>
    </div>
  </script>
</body>
</html>