<!DOCTYPE html>
<html >

<head>
  <title>{{ title }}</title>
  <meta name="robots" content="index,follow" />

  <script type="text/javascript" src="{{ 'lodash.js' | asset_url }}"></script>
  <script type="text/javascript" src="{{ 'new_common.js' | asset_url }}"></script>
  <script type="text/javascript" src="{{ 'tests.js' | asset_url }}"></script>
  <link rel="stylesheet" href="{{ 'core.css' | asset_url }}">
  <link rel="stylesheet" href="{{ 'main.css' | asset_url }}">
</head>

<body class="adaptive">
  <div class="container">
    {{ content_for_layout }}
  </div>
  <script type="text/javascript">
    var Template = new ISnew.Template();
    var cv_currency_format = '{{ money_with_currency_format }}';
    var money = new ISnew.Money();
    money.set(cv_currency_format);
  </script>

  <script type="text/template" data-template-id="cart_widget">
    <% if (order_lines.length > 0) { %>


    <% _.each(order_lines, function(item) { %>
    <div class="row-flex cart-item">
      <div class="flex-xl-4"><%- item.title %></div>
      <div class="flex-xl-4">
        <%- item.quantity %>
        &times;
        <%- item.sale_price %>
        =
        <%- item.total_price %>
        </div>
      <div class="flex-xl-4"><%- item.comment %></div>
    </div>
    <% }); %>

    <div>
      <div>Итого: <%- total_price %></div>
      <div>Товаров в корзине: <%- items_count %></div>
    </div>

    <% }else{ %>

    <div>
      Корзина пуста
    </div>

    <% } %>

  </script>


  <script type="text/template" data-template-id="option-select">
    <div class="option-item">
      <label><%= option.title %></label>
      <select
        class="select-field"
        data-option-selector=""
        data-option-select
        data-option_name_id="<%= option.id %>"
      >
        <% _.forEach(values, function (value){ %>
          <option
            data-selector-variant="<%= value.id %>"
            data-value-position="<%= value.position %>"
            data-position-id=""
            value="<%= value.position %>"
            <% if (option.selected == value.position) { %>selected<% } %>
          >
            <%= value.title %>
          </option>
        <% }) %>
      </select>
    </div>
  </script>


  <script type="text/template" data-template-id="option-image">
    <div class="option-item">
      <label><%= option.title %></label>
      <div
        class=""
        data-option-selector=""
        data-option-click
        data-position-id=""
        data-option_name_id="<%= option.id %>"
      >
        <% _.forEach(values, function (value){ %>
          <span
            data-selector-variant="<%= value.id %>"
            data-value-position="<%= value.position %>"
            class="option-image <% if (option.selected == value.position) { %>option-active<% } %>"
          >
            <% if (images[value.name]) { %>
              <img src="<%= images[value.name].small_url %>" alt="<%= value.title %>">
            <% }else{ %>
              <span><%= value.title %></span>
            <% } %>
          </span>
        <% }) %>
      </div>
    </div>
  </script>

  <script type="text/template" data-template-id="option-span">
    <div class="option-item">
      <label><%= option.title %></label>
      <div
        class=""
        data-option-selector=""
        data-option-click
        data-position-id=""
        data-option_name_id="<%= option.id %>"
      >
        <% _.forEach(values, function (value){ %>
          <span
            data-selector-variant="<%= value.id %>"
            data-value-position="<%= value.position %>"
            class="btn <% if (option.selected == value.position) { %>active<% } %>"
          >
              <span><%= value.title %></span>
          </span>
        <% }) %>
      </div>
    </div>
  </script>
</body>
</html>