<!DOCTYPE html>
<html >

<head>
  <title>{{ title }}</title>
  <meta name="robots" content="index,follow" />

  <script type="text/javascript" src="{{ 'lodash.js' | asset_url }}"></script>
  <script type="text/javascript" src="{{ 'new_common.js' | asset_url }}"></script>
</head>

<body class="adaptive">
  {{ content_for_layout }}
  <script type="text/javascript" src="{{ 'tests.js' | asset_url }}"></script>
  <script type="text/javascript">
    $(function(){
      product = new ISnew.Product({{ collections.tovar-dnya.products.last | json }});
    });

    var Template = new ISnew.Template();
  </script>

  <script type="text/template" data-template-id="cart_widget">
    <% if (user) { %>
      hello!! <%- user %>!
    <% } %>
  </script>
</body>
</html>