<!DOCTYPE html>
<html >

<head>
  <title>{{ title }}</title>
  <meta name="robots" content="index,follow" />

  <script type="text/javascript" src="{{ 'lodash.js' | asset_url }}"></script>
  <script type="text/javascript" src="{{ 'new_common.js' | asset_url }}"></script>
</head>

<body class="adaptive">
  <div class="" style="float: left; width: 50%">

    <h2>products</h2>
    {% for product in collections.arklayn.products limit: 10 %}
      {{ product.id }} ->
      {% for variant in product.variants %}
        {{ variant.id }} ||
      {% endfor %}
      <br />
    {% endfor %}

    <h2>delivery_id</h2>
    {% for delivery in account.delivery_variants %}
    {{ delivery.id }}
    {% endfor %}

    <h2>payment_id</h2>
    {% for payment in account.payment_gateways %}
    {{ payment.id }}
    {% endfor %}
  </div>

  <div class="" style="float: left; width: 50%">
    cart
    <pre class="prettyprint js-cart"></pre>
  </div>
  <script type="text/javascript" src="{{ 'tests.js' | asset_url }}"></script>
</body>
</html>
