<div class="row-flex">
<div class="flex-xl-6">
<a href="/" >< на главную</a>
    <a class="super-title" href="{{ product.url }}">====== {{ product.title }} ========</a>
    <form action="{{ cart_url }}" method="post" data-collection-variant data-product-id="{{ product.id }}">
    <img src="{{ product.images.first.medium_url }}" alt="">
    {% if product.show_variants? %}

    <select name="variant_id" data-product-variants>
      {% for variant in product.variants %}
        <option value="{{ variant.id }}">{{ variant.title | escape }}</option>
      {% endfor %}
    </select>
  {% else %}
  <input type="hidden" name="variant_id" value="{{product.variants.first.id}}" >
    {% endif %}
    <input class="input-field" type="number" name="quantity" value="1" />


  <div class="variant-info">

  </div>

  <button type="" cart-item-add class="btn">
    Добавь одну
  </button>
</form>

<br />
<br />
<br />

<form action="{{ cart_url }}" method="post">
  {% for variant in product.variants %}
    <div>
      <label>{{ variant.title | escape }}</label>
      <input type="text" name="variant_ids[{{ variant.id }}]" value="1">

      <button cart-item-delete="{{ variant.id }}">X</button>
    </div>
  {% endfor %}

  <button type="" cart-item-add>
    Добавь все
  </button>
</form>
<br />
<br />
<br />
</div>

<div class="flex-xl-6">
  cart
  <pre class="cart-widget js-cart"></pre>
</div>
</div>
